body {
  margin-top: 160px;
  font-family: "Ubuntu", sans-serif;
}

.article-content {
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}

.article-tags {
  margin-bottom: 6px;
}

.article-title, .article-title a:link, .article-title a:visited {
  text-shadow: 1px 1px 15px #6E8075, -1px -1px 0 rgba(125, 152, 135, 0.57), 1px -1px 0px rgba(125, 152, 135, 0.57), -1px 1px 3px rgba(125, 152, 135, 0.57), 1px 1px 0 rgba(125, 152, 135, 0.57);
  font-size: 1.5em;
  color: white;
}

.article-title a:hover {
  text-shadow: 1px 1px 15px #7DAD8F, -1px -1px 0 #7DAD8F, 1px -1px 0px #7DAD8F, -1px 1px 3px #7DAD8F, 1px 1px 0 #7DAD8F;
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  background-color: #fff;
  background-image: url(../img/blog-header-bg.png);

  box-shadow: 1px 1px 7px #353d3b;
}

header h1#logo {
  display: inline-block;
  height: 150px;
  float: left;
  line-height: 150px;
  color: white;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 15px #353D3B;

  margin: auto;
}
header nav {
  display: inline-block;
  float: right;
}
header nav a {
  line-height: 150px;
  margin-left: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: 1px 1px 15px #353D3B;
}
header nav a:hover, header nav a:visited, header h1#logo a:hover, header h1#logo a:visited {
  color: white;
  text-decoration: none;
}
header.smaller {
  height: 75px;
}
header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}
header.smaller nav a {
  line-height: 75px;
  color: white;
}

@media all and (max-width: 660px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }
  header nav a {
    line-height: 50px;
    margin: 0 10px;
  }
  header.smaller {
    height: 75px;
  }
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin: 0;
  }
  header.smaller nav {
    height: 35px;
  }
  header.smaller nav a {
    line-height: 35px;
  }
}

a:link, a:visited {
  color: #50bb78;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Pagination */
.custom-pagination {
  text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #3d8b5b;
  border-color: #3d8b5b;
}

.pagination>li>a, .pagination>li>span {
  color: #3d8b5b;
}

/* Author */
.author {
  margin-top: 25px;
}

.author-title {
  line-height: 1.3;
  text-align: left;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 15px;
  color: white;

  text-shadow: 1px 1px 15px #6E8075, -1px -1px 0 rgba(125, 152, 135, 0.57), 1px -1px 0px rgba(125, 152, 135, 0.57), -1px 1px 3px rgba(125, 152, 135, 0.57), 1px 1px 0 rgba(125, 152, 135, 0.57);
}

.author-name {
  line-height: 1.3;
  margin-top: 15px;
  font-weight: 700;
}

/* Footer */
.footer {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  color: #AAA;
  font-size: 0.75em;
}

.scroll-to-top {
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font: 0.7em;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Scroll to top */
.scroll-to-top.visible {
  visibility: visible;
  opacity: 1;
}

.scroll-to-top:hover { background-color: #d3eed8; }
.scroll-to-top a:hover { text-decoration: none; }
