{{ partial "header.html" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-7">
      <h1 class="article-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      <div class="article-tags">
        {{ range .Params.tags }}
          <a href="tags/{{ . | urlize }}"><span class="label label-success">{{ . }}</span></a>
        {{ end }}
      </div>
      <p class="small gray"><time datetime="{{ .Date.Format "2006-01-30" }}">{{ .Date.Format "Jan 01, 2006" }}</time></p>
      <div class="article-content">
        <p>{{ .Content }}</p>
      </div>
    </div>
    <div class="col-sm-1">
      {{ partial "author.html" . }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-7">
      {{ partial "disqus.html" . }}
  </div>
  </div>
</div>

{{ partial "analytics.html" . }}
{{ partial "footer.html" . }}
