<author>
  <img class="author-photo" src="http://www.gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=100"/>
  <div class="author-name">{{ .Site.Params.author }}</div>
  <div class="author-bio">{{ .Site.Params.bio }}</div>

  <div class="social">
    {{ if .Site.Params.github }}
    <a target="_blank" href="https://github.com/{{ .Site.Params.github }}"><img src='/img/github.png' /></a>
    {{ end }}
    {{ if .Site.Params.twitter }}
    <a target="_blank" href="http://www.facebook.com/{{ .Site.Params.facebook }}"><img src='/img/facebook.png' /></a>
    {{ end }}
    {{ if .Site.Params.twitter }}
    <a target="_blank" href="http://twitter.com/{{ .Site.Params.twitter }}"><img src='/img/twitter.png' /></a>
    {{ end }}
  </div>
</author>
